<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>EDA Book</title>
  <link href="https://fonts.googleapis.com/css?family=Spirax" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Josefin+Slab&display=swap" rel="stylesheet">
  <link href="./HFont/Helvetica Neu Bold.ttf" rel="stylesheet">
  <link rel="stylesheet" href="/main.css">
</head>

<body>
  <div class="app">
    <div id="headerbar">
      <img class="edaLogo" src="./images/edalogo.png" alt="eda logo"> 
      <h1 class="title">E<i>da</i>book</h1>
      </div>
    <div id="navbox">
      <a class="nav" href="/profiles">Home</a>
      <a class="nav" href="/create">Add Profile</a>
    </div>
    {{{body}}}
  </div>
</body>
<script type="text/javascript">
  function selectText() {
    const input = document.getElementById('scrollable');  
    input.focus();
    input.setSelectionRange(2, 5);
  }
</script>

</html>