<form class="form" action="/create" method="post">
  <img class="img-circle" src="https://www.fillmurray.com/g/200/300">
  <label for="name" class="form-item">
    Name:
    <input type="text" name="name" value="">
  </label>

  <label for="blog" class="form-item">
    Blog Link:
    <input type="text" name="blog" value="">
  </label>

  <label for="image" class="form-item">
    Image Link:
    <input type="text" name="image" value="">
  </label>

  <label for="bio" class="form-item">
    Bio:
    <input type="text" name="bio" value="">
  </label>
  <input type="submit" name="" value="Submit">
</form>